@model IEnumerable<ProjectTrackingTool.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Dictionary<int, string> colors = new Dictionary<int, string>()
    {
        {1, "blue"},
        {2, "yellow"},
        {3, "sky"},
        {4, "green"}
    };

//1	ToDo	0
//2	InProgress	0
//3	RFC/Review	0
//4	Done	0
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wbs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_Date)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.priority.Priority_Name)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Customer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wbs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_Date)
        </td>
        <td style="color: @colors[@item.status.Status_Id]">
            &#x25A9;
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priority.Priority_Name)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Project_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Project_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Project_Id })
        </td>
    </tr>
}

</table>
